# Data Science and Ecosystem

# In this notebook, Data Science tools and ecosystem are summarised

# some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

## some of the commonly used libraries by Data Scientists are:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create tables in Markdown
- Perform basic arithmetic operations in Python
- Convert minutes to hours using Python

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are few examples for evaluating arithematic expressions

In [2]:
# this is a simple arithematic expression which first multiplies and then add 
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Chandan U Achar